.select-dropdown,
.select-dropdown * {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}

.select-dropdown {
    position: relative;

    border-radius: 4px;
}

.select-dropdown select {
    font-size: 14px;
    font-weight: normal;
    max-width: 100%;
    padding: 25px 25px;
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-left: 1px solid #f8f8f8;
    border-right: 1px solid #f8f8f8;
}

.select-dropdown select:active,
.select-dropdown select:focus {
    outline: none;
    box-shadow: none;
}

.select-dropdown:after {
    content: url("../img/arrow.png");
    position: absolute;
    top: 35%;
    right: 25px;
    width: 0;
    height: 0;
    margin-top: -2px;

}

.select-button {
    display: flex;
    gap: 8px;
    font-size: 14px;
    border-right: 1px solid #f8f8f8;
    padding: 25px 25px;
}

.product-counter {
    padding: 25px 0px;



}

.pagination {
    margin-top: 85px;


    .pagination-flex {
        display: flex;
        justify-content: center;


        nav {
            display: flex;
            gap: 15px;
            align-items:center;
            justify-content:center;

            a {

                color: black;
                background-color: #f5f5f5;
                height: 30px;
                min-width: 30px;
                padding: 3px;
                display:flex;
                justify-content:center;
                align-items:center;

                &.active {
                    background-color: black;
                    color: white;

                }
                &:hover {
                    background-color: black;
                    color: white;

                }
            }








        }


    }
}