.hero-txt {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100%;
    min-height: 45vh;
    position: absolute;
    z-index: 9;
    top: 50%;
  }

  .hero-txt p {
    background: #000;
    padding: 6px 9px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
  }

  .hero-txt p,
  h1,
  h2 {
    color: #fff;
  }

  .hero-txt h1 {

    font-weight: 300;
    margin-top: 14px;
    margin-left: -3px;
    font-size: 50px;
    line-height:0.9;

    @media screen and (min-width:1024px){
        font-size: 75px;


      }
  }

  .hero-txt h2 {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;

    margin-top: 0;
    margin-bottom: 28px;
  }

  .hero-txt a {
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.388);
    cursor: pointer;
    height: 48px;
    width: 118px;
    color: #0b1d25;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
    position:relative;
    z-index:9;
  }
