.icon-inner img {
    width: 16px;
}

.notification {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    background-color: #000;
    position: fixed;
    top: 0;

    height: 31px;
    padding-block: 4px;

    z-index: 2;

    font-size: 13px;
    color: #d4d4d4;
}

.main-header {
    position: fixed;
    top: 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 121px;
    width: 100%;

    background-color: rgba(255, 255, 255, 0.8509803921568627);
    -webkit-box-shadow: 0px 1px 35px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 35px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 35px 1px rgba(0, 0, 0, 0.1);



    z-index: 1;
}

.main-header nav a {
    font-size: 14px;
    text-transform: uppercase;
    color: #0b1d25;
    font-weight: 400;
}

.left-nav {
    display: none;
    gap: 50px;
    align-items: center;
    width: 50%;

    @media screen and (min-width:1024px) {
        display: flex;


    }
}

.right-nav {
    display: flex;
    gap: 30px;
    align-items: center;
    width: 50%;
    justify-content: flex-end;


    .responsive-none {
        display: none;



        @media screen and (min-width:1024px) {
            display: flex;
            align-items: center;
            gap: 30px;

        }

    }

}

.header-logo {
    width: 112px;

}

.discount span {
    border-radius: 50%;
    padding-inline: 4px;
    color: #fff;
    background: #000;

    font-size: 13px;
    font-weight: 800;
}

.nav-button {
    text-transform: uppercase;
}

.nav-wrapper {
    background-color: white;

    height: 100%;
    perspective: 1000px;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: transform 0.6s, visibility 0.6s;
    visibility: hidden;
    max-width: 320px;
    width: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.nav-visible .nav-wrapper {
    transform: translateX(0);
    visibility: visible;
    overflow: auto;
}


.nav {
    position: relative;
    transform: rotateY(90deg);
    transform-origin: left center;
    transition: transform 0.6s;
    padding: 0px 20px;
}

.nav-visible .nav {
    transform: rotateY(0deg);
}

.nav h2 {

    padding: 15px 10px 15px 35px;
    text-transform: uppercase;

    a{
        color: black;


        font-size: 18px;


    }
}


.nav>a {
    display: block;
    line-height: 1.4;
    padding: 5px 10px 5px 35px;
    text-transform: uppercase;
    color: black;
    font-size:14px;

}

.menu-title-close {
    display: flex;
    padding: 55px 10px 15px 35px;
    justify-content: space-between;

    h2 {
        padding: 0px;
        color: $titleColor;
        font-size: 18px;
        font-weight: 400;
        text-transform:unset;
    }
}




.button-lines {
    background: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;

    padding: 0px 0px 7px 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    @media screen and (min-width:1024px) {
        display: none;
        padding: 1rem 0.5rem;

    }
}

.close {
    display: flex;
    justify-content: flex-end;
    padding: 12px;



    .lines:before,
    .lines:after {
        width: 12px;
        height: 2px;
        background: $fontColor;
        left: 15px;

    }

}

.lines {
    background: black;
    border-radius: 0.2rem;
    display: inline-block;
    height: 0.2rem;
    width: 2rem;
    position: relative;
}

.lines:hover {
    background: #000;
}

.lines:after,
.lines:before {
    background: black;
    border-radius: 0.2rem;
    display: inline-block;
    height: 0.2rem;
    width: 2rem;
    content: "";
    left: 0;
    position: absolute;
}

.lines:after:hover,
.lines:before:hover {
    background: #000;
}

.lines:after {
    top: 0.5rem;
}

.lines:before {
    top: -0.5rem;
}

.button-lines-x .lines {
    transition: background 0.3s ease;
}

.button-lines-x .lines:after,
.button-lines-x .lines:before {
    transform-origin: 50% 50% 0;
    transition: top 0.3s 0.4s ease, transform 0.3s ease;
}

.nav-visible .button-lines-x .lines {
    background: transparent;
}

.nav-visible .button-lines-x .lines:after,
.nav-visible .button-lines-x .lines:before {
    top: 0;
    transition: top 0.3s ease, transform 0.3s 0.3s ease;
}

.nav-visible .button-lines-x .lines:after {
    transform: rotate3d(0, 0, 1, 45deg);
}

.nav-visible .button-lines-x .lines:before {
    transform: rotate3d(0, 0, 1, -45deg);
}

.nav-overlay {
    background: rgba(228, 226, 224, 0.5);
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 1;
    display: none;

}

.counter{
    position: absolute;
    background: black;
    padding: 0px 8px 0px 9px;
    border-radius: 50%;
    height: 17px;
    width: 8px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -3px;
    left: 9px;
    font-size: 12px;

}